<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveles de Contaminación Ambiental</title>
</head>

<body bgcolor="darkgrey">
    <h1 style="color: black;">Material Particulado 1.0 - 2.5 - 10</h1>
    <canvas id="G1" style="width: 800px; height: 300px"></canvas>

    <h1>Temperatura</h1>
    <canvas id="G2" style="width: 800px; height: 300px"></canvas>

    <footer>
        <p>Franco Benassi</p>
    </footer>

</body>

<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
<script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../static/main_0.js"></script>

</html>